:root {
  --brand-background: #2f303a;
  --brand-color1: #2196f3;
  --brand-color2: #000000;
  --brand-colorAccent: #ffffff;
  --menu-color: #212121;
  --button-background: #f5f4fa;
  --paragraph-color: #757575;
  --link-footercolor: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--menu-color);
  letter-spacing: 0.03em;
  line-height: 1;
  font-size: 14px;
  width: 1600px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-colorAccent);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

p {
  line-height: 1.5;
  color: var(--paragraph-color);
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}

header a {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

header a:hover,
header a:focus {
  color: var(--brand-color1);
}

footer ul {
  display: block;
}

.container {
  width: 1200px;
  align-content: center;
  padding: 94px 215px;
}

.logo {
  color: var(--brand-color2);
  font-size: 26px;
  font-weight: 700;
}

.logo-footer {
  color: var(--brand-colorAccent);
  font-weight: 700;
  font-size: 26px;
  line-height: 2;
}

.logo-web {
  color: var(--brand-color1);
}

.link-footer {
  color: var(--link-footercolor);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--brand-color1);
}

.list-footer {
  display: block;
}

.box-service {
  font-weight: 700;
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
  border-radius: 4px;
  cursor: pointer;
}

.box-push {
  background-color: var(--button-background);
  font-weight: 500;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
}

.box-push:hover,
.box-push:focus {
  background-color: var(--brand-color1);
  color: var(--brand-colorAccent);
}

.background-header {
  background: var(--brand-background);
}

.wraper-footer {
  background-color: var(--brand-background);
  color: var(--brand-colorAccent);
  display: block;
}

.wraper-hero h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.header-three-team {
  font-weight: 500;
}

.header-three-portfolio {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
}
